.checked {
   background-color: #2098D1;
   color:white!important;
}
.control-container {
   position:relative;
   width:100%;
   border:2px solid black;
}
.control {
   display:none;
   position:absolute;
   top:5px;
   left:5px;
   z-index:200;
}
.zoom {
   width:100%;
}

/* Customized Bootstrap. */
.navbar a {
   color:white;
}
.navbar-header a {
   color:white!important;
}
.navbar-brand {
   font-size: 1.4em!important;
}
.navbar-brand a {
   font-size: 0.65em!important;
}
.bg-primary{
   background-color: #505E7D;
}
.bootstrap-switch-handle-on {
   font-weight: bold;
   color:white!important;
}
