.checked {
   background-color: #2098D1;
   color:white!important;
}
.control-container {
   position:relative;
   width:100%;
   border:2px solid black;
}
.control {
   display:none;
   position:absolute;
   top:5px;
   left:5px;
   z-index:200;
}
.zoom {
   width:100%;
}
.navbar-header a {
   color:white!important;
}
.bg-primary{
   background-color: #505E7D;
}
